@model Filter;

@{
    ViewData["Title"] = "Filter";
}

<h1 class="text-center">Filter</h1>

<form method="POST" asp-controller="Transaction" asp-action="FilterIndex">
    <div class="form-group my-3">
        <label asp-for="StartDate">วันที่เริ่มต้น</label>
        <input type="date" step="1" asp-for="StartDate" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="EndDate">วันสิ้นสุด</label>
        <input type="date" step="1" asp-for="EndDate" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="Label">รายละเอียด</label>
        <input type="text" asp-for="Label" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="OrderBy">เรียงโดย?</label>
        <select asp-for="OrderBy" class="form-control" required>
            <option value="Date">Date (Default)</option>
            <option value="Label">Label</option>
            <option value="Amount">Amount</option>
        </select>
    </div>
    <div class="form-group my-3">
        <input type="checkbox" asp-for="IsDesc" />
        <label asp-for="IsDesc">*เรียงจากมากไปน้อย</label>
    </div>
    <button type="submit" class="btn btn-primary my-3">คัดกรอง</button>
</form>